/*Flexbox y pseudoclases*/
	header#header{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.header, header .social, .menu{
		margin:0;
	}

	nav{
		width:100%;
		padding:.4rem;
	}

	article:first-child{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	article section:first-child{
		color: white;
		background-color: slateblue;
	}

	article:last-child{
		background-color: lightgrey;
		border-radius: 1rem;
		padding:1rem;
		margin:1rem;
		box-shadow: .5rem .5rem 1rem darkslateblue;
	}
	article:nth-child(2) li{
		list-style: disc url(../media/alert.png);
		list-style-position: outside;
	}
/*Redes sociales*/
	.social, .social a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	/*Social Header*/
		header .social{
			justify-content: flex-end;
		}
		header .social a{
			background-image: url(../media/social-sprite.png);
			background-size: 160px 79px;
			width:40px;
			height: 38.5px;
		}
		/*Facebook*/
			header .social a:first-child:hover{
				background-position: calc(40px * 0) calc(38.5px * -1);
			}
		/*Instagram*/
			header .social a:nth-child(2){
				background-position: calc(40px * -3) calc(38.5px * 0);
			}
			header .social a:nth-child(2):hover{
				background-position: calc(40px * -3) calc(38.5px * -1);
			}
		/*Twitter*/
			header .social a:nth-last-child(2){
				background-position: calc(40px * -1) calc(38.5px * 0);
			}
			header .social a:nth-last-child(2):hover{
				background-position: calc(40px * -1) calc(38.5px * -1);
			}
		/*YouTube*/
			header .social a:last-child{
				background-position: calc(40px * -2) calc(38.5px * 0);
			}
			header .social a:last-child:hover{
				background-position: calc(40px * -2) calc(38.5px * -1);
			}
	/*Social Footer*/
		.social img{
			width:30px;
			height:30px;
		}

		.social img:hover{
			width:50px;
			height: 50px;
		}


		.social a:first-child img{
			background-color: #3b5999;
		}

		.social a:nth-child(2) img{
			background-color: #e4405f;
		}

		.social a:nth-last-child(2) img{
			background-color: skyblue;
		}

		.social a:last-child img{
			background-color: limegreen;
		}
/*Formulario*/
	#contacto{
		display: flex;
		flex-direction: column;
		width:450px;
		margin:1rem auto;
	}

	#contacto input, #contacto textarea{
		padding:.5rem;
		outline: none;
	}

	#contacto textarea{
		height: 5rem;
		resize: none;
	}

	#contacto button{
		background-color: slateblue;
		border: .1rem solid slateblue;
		padding:5px;
		border-radius: .2rem;
	}

	#contacto button:hover{
		border-color:slateblue;
		background-color: slateblue;
	}
/*Pseudo elementos de CONTENIDO*/
	article:nth-child(2) h1::first-letter{
		font-size: 3rem;
	}

	article p::first-line{
		color:darkslateblue;
		font-weight: bold;
	}

	article:first-child section>p:first-letter{
		font-size: 5rem;
		margin-right: 1rem;
		float:left;
	}

	article ul{
		width:600px;
	}
/*Pseudoelementos de ETIQUETAS*/
	.pseudo h1{
		padding:1rem;
		color:white;
		background-color: darkslateblue;
	}

	.pseudo h1::before{
		content:'Pseudoelementos';
	}

	.pseudo section{
		counter-reset: titulos;
		width:100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.pseudo div{
		counter-reset: item;
		background-color: rgba(160, 110, 230, .5);
		width:360px;
		height: 360px;
		margin: .4rem;
		padding:1rem;
		border-radius: .5rem;
		overflow: auto;
	}

	.pseudo h2::before{
		counter-increment: titulos;
		content: 'Seccion n°' counter(titulos);
	}

	.pseudo ul, .pseudo ol{
		list-style: none;
		width:320px;
		padding:.3rem;
	}

	.pseudo ul{
		counter-reset: subitem;
	}

	.pseudo ol>li::before{
		counter-increment: item;
		content:'Capitulo ' counter(item) ':'
	}
	.pseudo ul>li::before{
		counter-increment: subitem;
		content: 'Subcapitulo ' counter(item) '.' counter(subitem) ':';
	}

	.pseudo p::before{
		content:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo in perspiciatis provident labore optio necessitatibus odio nesciunt magni recusandae, sunt obcaecati excepturi ex similique, nemo, ullam quisquam impedit deserunt nam. Eius quidem quasi facilis distinctio veritatis odit accusantium sint facere vitae beatae corrupti culpa earum temporibus, animi, nemo illo ipsa dolorum atque minus magnam expedita dicta repellat eum! Autem sunt sint accusamus, pariatur quas veniam assumenda neque minus ratione quia ex dolorem maxime rerum! Maiores velit optio nostrum quod? Rem eligendi, doloremque fuga ipsum quam cumque fugiat dolore esse praesentium ea porro, incidunt optio, voluptas consequatur perspiciatis dolorum modi deserunt?';
	}
/*Autor: Cristian Racedo*/

/*Editando LISTAS*/

