/*Diseño Responsive*/
/*XS Universal extra small*/
	/*Reglas Generales*/
		*{
			box-sizing:border-box;
			font-family: century gothic, sans-serif;
		}

		body,
		#header h1, 
		#header p,
		.menu{
			margin:0;
			padding:0;
		}
		
		#header,
		#footer,
		#contacto,
		.menu li,
		article,
		section{
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
		}
	/*Cabecera y Pie*/
		#header,
		#footer{
			color:slateblue;
			background-color: #ddd;
			padding:1rem;
		}
	/*Navegacion*/
		nav{
			color:#ddd;
			background-color: darkslateblue;
			border-radius: .5rem
		}
		#menu{
			font-size: 1.5rem;
			width:2.5rem;
			height: 2.5rem;
			outline: none;
			border-radius: .5rem;
		}
		.menu,
		.option,
		.submenu{
			display:none;
		}
		.menu a{
			color:#fff;
			text-decoration: none;
			line-height: 1.5rem;
			padding:.2rem 1rem;
		}
		.menu a:hover{
			background-color: mediumslateblue;
		}
		.menu li:last-child a:hover{
			border-radius: 0 0 .5rem .5rem;
		}
		.mostrar{
			display: block;
		}
	/*Contenido Principal*/
		main, article, section{
			margin:1rem .5rem 0;
			padding:.5rem;
		}
		section{
			background-color: #ddd;
		}
	/*Formulario de Contacto*/
		#contacto{
			padding:1rem;
		}
	/*Redes sociales*/
		.social,
		.social a{
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			height: 2rem;
		}
		.social a{
			width:2rem;
		}
		.social img{
			height:1rem;
		}
		.social a:hover img{
			height: 2rem;
		}
/*SM Small devices*/
	@media screen and (min-width: 576px) and (orientation:landscape){
		#header{
			color:#ddd;
			background-color: slateblue;
		}	
		/*Navegacion*/
			#menu{
				display: none;
			}
			.menu{
				display: flex;
				flex-direction: row;
			}
		}	
/*MD medium devices*/
	@media screen and (min-width: 768px){
		#header{
			background-color: mediumslateblue;
		}
	}
/*LG large devices*/
	@media screen and (min-width: 992px){
		#header{
			background-color: darkslateblue;
		}
		#contacto{
			width:600px;
		}
	}
/*XL extra large devices*/
	@media screen and (min-width: 1200px){
		#header{
			color:darkslateblue;
			background-color: #ddd
		}
	}
/*Print Design*/
	@media print {
		nav{
			display:none;
		}
	}
/*Autor: Cristian Racedo*/