/*Diseño Responsive*/
/*XS Universal extra small*/
	/*Reglas Generales*/
		*{
			box-sizing:border-box;
			font-family: century gothic, sans-serif;
		}

		body,
		#header h1, 
		#header p,
		.menu{
			margin:0;
			padding:0;
		}
		
		#header,
		#footer,
		#contacto,
		.menu li,
		article,
		section{
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
		}
	/*Cabecera y Pie*/
		#header,
		#footer{
			color:darkslateblue;
			background-color: #ddd;
			padding:1rem;
		}
	/*Navegacion*/
		nav{
			color:#ddd;
			background-color: darkslateblue;
			border-radius: .5rem
		}
		#menu{
			font-size: 1.5rem;
			width:2.5rem;
			height: 2.5rem;
			outline: none;
			border-radius: .5rem;
		}
		.menu,
		.option,
		.submenu{
			display:none;
		}
		.menu a{
			color:#fff;
			text-decoration: none;
			line-height: 1.5rem;
			padding:.2rem 1rem;
		}
		.menu a:hover{
			background-color: mediumslateblue;
		}
		.mostrar li:last-child a:hover{
			border-radius: 0 0 .5rem .5rem;
		}
		.mostrar{
			display: block;
		}
	/*Contenido Principal*/
		main, article, section{
			margin:1rem .5rem 0;
			padding:.5rem;
		}
		section{
			background-color: #ddd;
		}
	/*Formulario de Contacto*/
		#contacto{
			padding:1rem;
			width: 100%;
			margin: auto;
		}
		textarea{
			height: 5rem;
		}
	/*Redes sociales*/
		.social,
		.social a{
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			height: 2rem;
		}
		.social a{
			width:2rem;
		}
		.social img{
			height:1rem;
		}
		.social a:hover img{
			height: 2rem;
		}
/*SM Small devices*/
	@media screen and (min-width: 576px){
		#header,
		#footer{
			color:#ddd;
			background-color: mediumslateblue;
		}	
		#header{
			flex-direction: row;
		}
		.header{
			width:50%;
		}
		/*Navegacion*/
			nav{
				background-color: transparent;
			}
			#menu{
				display: none;
			}
			.menu{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
				width:100%;
				margin:auto;
			}
			.menu li{
				width:30%;
				margin:.1rem .5rem;
				text-align: center;
				background-color: darkslateblue;
			}
		/*redes sociales*/
			.header .social{
				width:50%;
			}
		}	
/*MD medium devices*/
	@media screen and (min-width: 768px){
		#header,
		#footer{
			background-color: slateblue;
		}
		/*Navegacion*/
		nav{
			width:90%;
			background-color: darkslateblue;
		}
		.menu{
			justify-content: center;
		}

		.menu li{
			margin:0;
			width:auto;
		}
		#contacto{
			width: 85%;
		}
	}
/*LG large devices*/
	@media screen and (min-width: 992px){
		#header,
		#footer{
			background-color: darkslateblue;
		}
		#contacto{
			width:75%;
		}
	}
/*XL extra large devices*/
	@media screen and (min-width: 1200px){
		#header,
		#footer{
			color:darkslateblue;
			background-color: #ddd
		}
		#header{
			align-items: flex-start;
			justify-content: space-between;
		}
		.header{
			width:50%;
		}
		.header .social{
			position:absolute;
			top: 1rem;
			right: 1rem;
		}
		nav{
			width:50%;
		}

	}
/*Print Design*/
	@media print {
		nav{
			display:none;
		}
	}
/*Autor: Cristian Racedo*/