*{
	font-family: century gothic, segoe ui, sans-serif;
}

body{
	margin:0;
}

header, footer{
	color:#ddd;
	background-color: darkslateblue;
	text-align: center;
	padding:20px;
}

.subtitle{
	margin-top: -24px;
	letter-spacing: 16px; 
}

.menu{
	margin:0;
	padding:0;
	list-style: none;
}

.menu li{
	display: inline-block;
	width: 100px;
}
/*Accion de pasar el mouse por encima de <li>*/
.menu li:hover{
	background-color: slateblue;
}

.menu a{
	color:#ddd;
	text-decoration: none;
}

article{
	padding:32px;
}

form{
	width:450px;
	margin:25px auto;
	padding-left:50px;
}
input,textarea,select{
	width:400px;
	border:0.5px solid darkslateblue;
	padding:0;
	font-size: 16px;
}

textarea{
	resize: none;
	height: 80px;
}

.termino input{
	width:25px;
}

