*{
	font-family: century gothic, segoe ui, sans-serif;
}

body{
	margin:0;
}

header, footer{
	color:#ddd;
	background-color: darkslateblue;
	text-align: center;
	padding:20px;
}

header h1{
	margin: 0;
}

.subtitle{
	width:320px;
	margin: auto;
	letter-spacing: 12px; 
	overflow: hidden;
	text-align: right;
}

.subtitle span{
	font-size: 64px;
	line-height: 48px;
	font-weight: bold;
	float:right;
}

nav{
	background-color: slateblue;
}

.menu{
	margin:0;
	padding:0;
	list-style: none;
}

.menu li{
	display: inline-block;
	width: 100px;
}
/*Accion de pasar el mouse por encima de <li>*/
.menu li:hover{
	background-color: darkslateblue;
}

.menu a{
	color:#ddd;
	text-decoration: none;
}

article{
	padding:32px;
}

form{
	width:450px;
	margin:25px auto;
	padding-left:50px;
	text-align: left;
}
input,textarea,select{
	width:400px;
	border:0.5px solid darkslateblue;
	padding:0;
	font-size: 16px;
}

textarea{
	resize: none;
	height: 80px;
}

.termino input{
	width:25px;
}

/*Estilos para las tablas*/

table,caption,tr,td{
	color:#ccc;
	background-color: rgba(80,30,160,.5);
}

td{
	width: 80px;
}
/*
	table = 80px
	tr = 80px
	td = 80px * 3
*/

/*ELEMENTOS MULTIMEDIA (linea-bloque)*/
video,iframe,audio{
	width:600px;
}

video,iframe{
	height: 352px;
	border-radius: 16px;
}

footer iframe {
	width:450px;
	height: 264px;
}

/*Redes sociales*/
.social a{
	color:white;
	text-decoration: none;
}