<form 
    [formGroup]="contactForm" 
    (ngSubmit)="guardarForm()">
    <h1>Formulario de Contacto</h1>
    <label for="nombre">
        <input
            formControlName="nombre"
            type="text"
            placeholder="Ingrese Nombre">
        <div *ngIf="contactForm.nombre">
            <p>El campo nombre es Obligatorio</p>
            <p>Su nombre debe poseer solamente Letras</p>
            <p>Minimamente debe ingresar 3 caracteres</p>
            <p>No puede ingresar mas de 50 caracteres</p>
        </div>
    </label>
    <label for="correo">
        <input 
            formControlName="correo"
            type="text"
            name="correo"
            placeholder="Ingrese Correo">
        <div *ngIf="">
            <p>El campo correo es Obligatorio</p>
        </div>
    </label>
    <label for="telefono">
        <input
            formControlName="telefono" 
            type="text"
            name="telefono"
            placeholder="Ingrese Telefono">
        <div *ngIf="">
            <p>El campo telefono es Obligatorio</p>
            <p>Escriba su numero sin puntos, guiones ni espacios</p>
        </div>
    </label> 
    <label for="mensaje">
        <textarea 
            formControlName="mensaje"
            name="mensaje"
            placeholder="Ingrese Consulta" 
        ></textarea>
        <div *ngIf="">
            <p>Minimamente debe ingresar 10 caracteres</p>
            <p>No puede ingresar mas de 300 caracteres</p>
        </div>
    </label>
    <input 
        type="submit" 
        class="btn">
</form>
