<form 
    [formGroup]="contactForm" 
    (ngSubmit)="Restablecer()">
    <h1>Formulario de Contacto</h1>
    <label for="nombre">
        <input
            formControlName="nombre"
            type="text"
            name="nombre"
            placeholder="Ingrese Nombre">
        <div *ngIf="nombre.touched && nombre.invalid">
            <p>El campo nombre es Obligatorio</p>
            <p>Su nombre debe poseer solamente Letras</p>
            <p>Minimamente debe ingresar 3 caracteres</p>
            <p>No puede ingresar mas de 50 caracteres</p>
        </div>
    </label>
    <label for="correo">
        <input 
            formControlName="correo"
            type="text"
            name="correo"
            placeholder="Ingrese Correo">
    </label>
    <label for="telefono">
        <input
            formControlName="telefono" 
            type="text"
            name="telefono"
            placeholder="Ingrese Telefono">
    </label> 
    <label for="mensaje">
        <textarea 
            formControlName="mensaje"
            name="mensaje"
            placeholder="Ingrese Consulta" 
        ></textarea>
    </label>
    <input 
        type="submit" 
        class="btn" 
        (click)="guardarForm()">
</form>
