<form action="">
    <h1>Formulario de Contacto</h1>
    <label for="nombre">
        <input 
            formControlName="nombre"
            type="text"
            placeholder="Ingrese Nombre" />
    </label>
    <label for="correo">
        <input 
            type="text"
            formControlName="correo"
            placeholder="Ingrese Correo" />
    </label>
    <label for="">
        <input type="text"
        formControlName="telefono"
        placeholder="Ingrese Telefono" />
    </label> 
    <label for="mensaje">
        <textarea name="mensaje"
        formControlName="mensaje"
        placeholder="Ingrese Consulta" 
        ></textarea>
    </label>
    <input type="submit" class="btn">
</form>
