/*Maquetado Avanzado*/
	/*Mobile First*/
		/*Reglas Generales*/
			@import url(
				'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&family=Ubuntu:wght@300&display=swap'
				);
			*{
				box-sizing: border-box;
				font-family: Roboto, Ubuntu, sans-serif;
			}
			body{
				margin: 0;
			}
			#header,
			#footer,
			#contact,
			.menu,
			main,
			article,
			section{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-start;
			}
		/*Encabezado y Pie de Pagina*/
			#header, #footer{
				padding:1rem; /*Ancho M contenedor Raiz(HTML)*/
				color:white;
				text-shadow: 0 0 5px black; /*-x+ -y+ blur color*/
				background: linear-gradient(
					to right,
					hsl(0,50%,20%), 
					hsl(0,50%,60%)
					), 
				    url(../assets/bg-md-header.jpg),
				    url(../assets/bg-xl-header.png)
				;
				background-position: top center;
				background-size:cover; 
				background-blend-mode:hard-light, soft-light;
			}
			#footer{
				width:100%;
				background-position: bottom center;
			}
		/*Navegacion*/
			nav{
				width:100%;
			}
			#menu{
				width:3rem;
				line-height:2.5rem;
				font-size: 2.5rem;
			}
			.menu{
				overflow: hidden;
				display: none;
				margin:0;
				padding: 0;
				list-style: none;
				background-color: hsl(0,30%,10%)
			}
			.menu li,
			.menu a{
				display: block;
				padding:.2rem .5rem;
				color:white;
				width:100%;
				text-decoration: none;
			}
			.menu a:hover{
				background-color: hsl(0,60%, 50%)
			}
			.show{
				display: block;
				height:auto;
			}
		/*Contenido Principal*/
			main,
			article,
			section{
				padding:.25rem .5rem;
			}
			/*Video con texto*/
				.container{
					position:relative;
					width:100%;
					padding-top:75%;
					overflow: hidden;
				}
				.content,
				.container video{
					position:absolute;
					width:100%;
					color:white;
					background-color: hsla(240, 30%, 30%,.5);
				}
				.container video{
					top:0;
				}
				.content{
					bottom:-1000px;
					transition: all 1s ease;
				}
				.container:hover .content{
					left:0;
					bottom:0;
					padding:1rem;
				}
			/*Estilos de Muestras*/
				.example{
					width:100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-evenly;
					padding:1rem;
					color: white;
					background-color: hsl(0,30%,30%);
				}
				.example li{
					width:100%;
					max-width: 300px;
					list-style: none;
					display: flex;
					justify-content: space-evenly;
					flex-direction: column;
				}
				/*Elementos Estadisticos*/
					.example progress,
					.example meter{
						margin-top: -.2rem;
						height: 2rem;
						width: 100%;
					}
					.example ::-webkit-meter-optimum-value{background:linear-gradient( skyblue,darkblue);}
					.example ::-webkit-meter-suboptimum-value{background:linear-gradient( limegreen,darkgreen);}
					.example ::-webkit-meter-even-less-good-value{background:linear-gradient(tomato,darkred);}
				/*Colores CSS*/
					.color{
						width:100%;
						max-width: 230px;
						margin:.5rem;
						padding:.5rem;
						border:.2rem solid;
						color:white;
					}
					#color{background-color: darkslateblue;}
					#rgb{background-color:rgb(72,61,139);}
					#hex{background-color:#483D8B;}
					#hsl{background-color:hsl(248,39%,39%);}
					.linear{
						max-width:490px; 
						background:linear-gradient(to right, slateblue, darkslateblue);
					}
					.radial{
						max-width:490px; 
						background:radial-gradient(circle, slateblue,darkslateblue);
					}
				/*Regla Font-face*/
					@font-face{
						src: url(../assets/fonts/starjedi.ttf);
						font-family: star jedi;
					}
					.font{
						font-family: star jedi;
						margin:0;
						font-size: 3rem;
					}
				/*Transformaciones 2D*/
					.transform div,
					.transform span{
						width:100px;
						height:100px;
						margin:1rem;
						border: .2rem solid;
						text-align: center;
						background-color: darkslateblue;

					}
					/*Escalar*/
						.transform div:hover:first-child{
							transform:scaleX(); /*horizontal*/
							transform:scaleY(); /*vertical*/
							transform:scale(2.5); /*x , y*/
						}
					/*Desplazar*/
						.transform div:hover:nth-child(2){
							transform: translateX(); /*horizontal*/
							transform: translateY(); /*vertical*/
							transform: translate(0, -15px); /*x, y*/
						}
					/*Rotar*/
						.transform div:hover:nth-child(3){
							transform: rotate(-15deg);/*inclinacion deg*/
							transform-origin: center; /*x y*/
						}
					/*Sesgar*/
						.transform div:hover:nth-last-child(3){
							transform: skewX();/*horizontal*/
							transform: skewY();/*vertical*/
							transform: skew(15deg, 5deg);/*x, y*/
						}
					/*Multiples transformaciones*/
						.transform div:hover:nth-last-child(2){
							transform: 
								scale(1.5, 2) 
								skew(15deg, 10deg)
								translate(10px);
						}
				/*Transformaciones 3d*/
					.transform{
						perspective: 100px;
						perspective-origin: top center;
					}
					/*Rotacion 3d*/
						.transform span:hover{
							transform: rotateX();
							transform: rotateY(-30deg);
							transform: rotateZ();
						}
		/*formulario de Contacto*/
			#contact{
				width:100%;
				max-width: 480px;
				margin:auto;
			}
			#contact input, 
			#contact select, 
			#contact textarea,
			#contact button{
				width:100%;
				border:.2rem solid white;
				outline:none;
			}
			#contact textarea{
				resize: none;
				height: 4rem;
			}
			.contactSubmit{
				color:darkred;
				background-color: white;
				font-size: 1.2rem;
			}
			.contactSubmit:hover{
				color:white;
				background-color: transparent;
			}	
			#contact:valid .contactSubmit{
				color:limegreen;
			}
			#contact :focus{
				transform: translateY(-1rem) scale(1.1);
			}
			#contact focus:invalid{
				border:.2rem solid tomato;
			}		
			#contact :focus:valid{
				border:.2rem solid limegreen;
			}	
			/*Texto Validacion*/	
				.validate{
					height:0;
					overflow: hidden;
					background-color: darkgrey;
					transition: all 1s ease-in-out;
				}
				:focus + .validate{
					padding:1rem;
					height:auto;
					transform: translateY(-.7rem) scale(1.1);
				}
				:focus:invalid + .validate{
					background-color: darkred;
				}
				:focus:valid + .validate{
					background-color: darkgreen;
				}
		/*Redes sociales*/
			.social{
				display: flex;
				justify-content: center;
				margin:auto;
			}
			.social a{
				margin:.5rem;
				color:white;
				font-size: 2rem;
				text-decoration: none;
			}
			.social a:hover{
				text-shadow: .1rem .1rem .2rem white;
			}
			.icon-facebook:hover:before{color:darkblue;}
			.icon-twitter:hover:before{color:skyblue;}
			.icon-instagram:hover:before{color:purple;}
			.icon-whatsapp:hover:before{color:limegreen;}
	/*SMall Devices (SM)*/
		@media screen and (min-width:576px){

		}	
	/*MeDium Devices (MD)*/
		@media screen and (min-width:768px){
			/*Navegacion*/
				#menu{
					display: none;
				}
				.menu{
					display:flex;
					flex-direction: row;
					justify-content: space-evenly;
					text-align: center;
					overflow: visible;
				}
				.menu li, .menu a{
					width:120px;
					transition: all .5s ease-out; 
				}
				.menu a:hover{
					transform: scale(1.5);
					border-radius: .2rem;
					box-shadow: 0 0 10px;
				}
			/*Cuerpo Principal*/
				article{
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;
					margin:auto;
					border-top: .2rem solid black;
					background-color: white;
				}
				main{
					background-color: black;
				}
				article:first-child{
					border:none;
				}
				article .header{
					width:80%;
					color:white;
					background-color: darkred;
				}
				section{
					width:80%;
					max-width: 720px;
					margin:1rem auto;
					border-left: .5rem solid tomato;
				}
		}
	/*LarGe Devices (LG)*/
		@media screen and (min-width:992px){
			
		}	
	/*eXtraLarge Devices (XL)*/
		@media screen and (min-width:1200px){
			/*Cabecera*/
				#header{
					flex-direction: row;
				}
				#header .header{
					width:30%;
				}
			/*Navegacion*/
				nav{
					width:70%;
					align-self: flex-end;
				}
		}
/*Autor: Cristian Racedo*/
