/*Mobile First - XS Devices*/
	/*Reglas Generales*/
		*{
			box-sizing: border-box;
			font-family: century gothic, segoe ui, sans-serif;
		}
		#header, #footer{
			padding: 1rem;
			color: #ddd;
			background-color: darkslateblue;
		}
	/*Cabecera*/
		.header{
			min-width: 320px;
			width: 50%;
			max-width: 640px;
			margin: auto;
		}
		body, 
		.header h1{
			margin: 0;
		}
		.subtitle{
			margin: 0 auto 1rem;
			letter-spacing: .2rem;
		}
	/*Navegacion*/
		nav{
			background-color: slateblue;
		}
		#menu{
			font-size: 2rem;
			height: 2.5rem;
			width: 2.5rem;
		}
		.menu{
			height: 0;
			overflow: hidden;
			list-style: none;
			margin: 0;
			padding: 0;
			background-color: transparent;
		}
		.menu a{
			display: block;
			width:100%;
			padding:.2rem 1rem;
			line-height: 30px;
			color:#ccc;
			text-decoration: none;
		}
		.menu a:hover{
			background-color: darkslateblue;
		}
	/*Contenido Principal*/
		article{
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			padding: .5% 2.5%;
		}
		article header{
			width: 100%;
			line-height: 1rem;
		}
		section{
			margin: .5rem auto;
			padding: 1rem;
			width: 100%;
			background-color: #ccc;
		}
	/*Formulario de Contacto*/
		#contacto{
			margin: auto;
			padding: 2.5%;
		}
		#contacto, 
		#contacto label{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-width: 300px;
			width: 100%;
			max-width: 900px;
		}
		#contacto input, 
		#contacto textarea,
		#contacto button.success{
			outline: none;
			border: none;
			padding: .5%;
			line-height: 1.5rem;
		}
		#contacto textarea{
			height: 5rem;
			resize: none;
		}
		#contacto .success{
			color:#ccc;
			cursor: pointer;
			overflow: hidden;
			position:relative;
			padding:0;
		}
		#contacto:invalid .success{
			background-color: darkred;
		}
		#contacto:valid .success{
			background-color: darkgreen;
		}
		#contacto .success:before,
		#contacto .success:after{
			content: '';
			display: block;
			position: absolute;
			top:-350px;
			width:5px;
			height: 5px;
			border-radius: 50%;
		}
		#contacto .success:before{
			left:-100%;
		}
		#contacto .success:after{
			right:-100%;
		}
		#contacto .success:hover:before,
		#contacto .success:hover:after{
			width:250%;
			height:700px;
			opacity:.2;
			background-color: darkslateblue;
			transition: all .5s ease-out;
		}
	/*Estilos Funcionalidad*/
		/*Fluid Design*/
			.fluid{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}
			.fluid div{
				text-align: center;
				line-height:1rem;
				border: 1px solid mediumslateblue;
				padding:.5rem;
				color:#ccc;
				background-color: darkslateblue;
			}
			.fluid span{
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
			}
			.fluid img{
				height: 300px;
				background-color: #ddd;
			}
		/*Liquid Design - Imagenes*/
			.liquid{
				text-align: center;
			}
			.liquid img{
				margin: 1rem auto;
				min-width: 200px;
				width:30%;
				max-width: 300px;
			}
		/*Responsive Design - Grillas*/
			.col-1{width: 8.33%;}
			.col-2{width: 16.67%;}
			.col-3{width: 25%;}
			.col-4{width: 33.3%;}
			.col-5{width: 41.67%;}
			.col-6{width: 50%;}
			.col-7{width: 58.33%;}
			.col-8{width: 66.67%;}
			.col-9{width: 75%;}
			.col-10{width: 83.3%;}
			.col-11{width: 91.67%;}
			.col-12{width: 100%;}
		/*Relative Values - em*/
			.em{
				font-size: 12px;
			}
			.em li{
				font-size: .8rem;
			}
		/*Javascript - menu desplegable*/
			.mostrar{
				height: auto;
				background-color: slateblue;
			}
/*SM Devices*/
	@media screen and (min-width: 576px){
		#header, #footer{
			background: url(../assets/bg-header.jpg);
		}
	}
/*MD Devices*/
	@media screen and (min-width: 768px){
		#header, #footer{
			color: mediumslateblue;
			background-color: #ccc;
		}
	}
/*LG Devices*/
	@media screen and (min-width: 992px){
		#header, #footer{
			color: darkslateblue;
			background-color: #ddd;
		}
	}
/*XL Devices*/
	@media screen and (min-width: 1200px) and (max-width: 1920px){
		#header, #footer{
			padding: 1rem;
			color: #darkslateblue;
			background-color: #ccc;
		}
	}
/*Print Design*/
	@media print{

	}

/*Autor: Cristian Racedo*/